:root{
    --darkBlueIntroSignUpBackground: hsl(217, 28%, 15%);
    --darkBlueMainBackground: hsl(218, 28%, 13%);
    --darkBlueFooterBackground: hsl(216, 53%, 9%);
    --darkBlueTestimonialsBackground: hsl(219, 30%, 18%);
    --cyanInsideCall-to-actionGradient: hsl(176, 68%, 64%);
    --blueInsideCall-to-actionGradient: hsl(198, 60%, 50%);
    --lightRedError: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;    
}

header{
    background-color: var(--darkBlueIntroSignUpBackground);
    background-image: url('./images/bg-curvy-mobile.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

nav img{
    width: 30%;
    height: 30%;
}

nav ul{
    list-style: none;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 65%;
    font-size: 0.8rem;
}

.header-main{
    padding: 2rem;
    color: var(--white);
    text-align: center;
}

.header-main img{
    width: 80%;
    height: 80%;
    display: block;
    margin: 2rem auto;
    
}

h1{       
    font-size: 1.5rem;
}

p{
    opacity: 0.5;
}

.header-main button{
    border: none;
    color: var(--white);
    background-image: linear-gradient(to right, var(--cyanInsideCall-to-actionGradient),var(--blueInsideCall-to-actionGradient));
    width: 80%;
    padding: 1rem 2rem;
    border-radius: 5rem;
    font-weight: 700;
    margin: 1rem auto;
}

.principal{
    background-color: var(--darkBlueMainBackground);
    padding: 2rem 2rem 10rem;
}

.advantages{
    color: var(--white);
    text-align: center;
    margin: 2rem auto 5rem;
}

.advantages img{
    display: block;
    margin: auto;
}

.productive{
    color: var(--white);
    text-align: center;
}

.productive img{
    width: 90%;
    height: 90%;    
}

.productive h2, .productive p, .productive a{
    text-align: justify;
}

.productive h2{
    font-size: 1.1rem;
}

.work{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;    
}

.productive .arrow{
    width: 10%;
    height: 10%;
}

a{
    color: var(--cyanInsideCall-to-actionGradient);
    text-decoration: none;
}

hr{
    width: 60%;
    margin: 0.2rem 0 0 ;
    background-color: var(--cyanInsideCall-to-actionGradient);
    border-color: var(--cyanInsideCall-to-actionGradient);
}

.comments{
    background-image: url('./images/bg-quotes.png');
    background-repeat: no-repeat;
    padding: 3rem 0;
    margin: 3rem auto;
}

.user{
    background-color: var(--darkBlueTestimonialsBackground);
    padding: 1.5rem;
    margin-bottom: 3rem;
    border-radius: 0.3rem;
    margin-top: -0.3rem;
}

.user p{
    color: var(--white);
    margin: 0;
    font-size: 0.7rem;
    text-align: left;
    line-height: 1.5;
}

.user_name{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.7rem;
    color: var(--white);
    font-size: 0.6rem;
}

.user_name img{
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

.user_name h3{
    margin: 0 0 0.2rem;
    opacity: 0.8;
}

.user_name span{
    opacity: 0.5;
    font-size: 0.5rem;
}

.early_access{
    color: var(--white);
    background-color: var(--darkBlueTestimonialsBackground);
    padding: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
}

.early_access h3{
    opacity: 0.8;
}

.early_access p{
    font-size: 0.85rem;
    line-height: 1.5;
    margin-bottom: 3rem;
}

input{
    border: none;
    color: var(--white);
    width: 80%;
    padding: 1rem 2rem;
    border-radius: 5rem;
    font-weight: 700;
    display: block;
    margin: 1rem auto;
}

input::placeholder{
    text-align: justify;
    opacity: 0.5;
    font-size: 0.6rem;
    padding: 0rem;
}

input[type='submit']{     
    background-image: linear-gradient(to right, var(--cyanInsideCall-to-actionGradient),var(--blueInsideCall-to-actionGradient));
    font-size: 1rem;
}

input[type='email']{
    color: var(--darkBlueMainBackground);
}

footer{
    background-color: var(--darkBlueFooterBackground);
    padding: 15rem 2rem 1rem ;
}

.logo_footer{
    padding: 2rem 0.8rem;
}

.info{
    display: flex;
    gap: 1rem;
    color: var(--white);
    margin-bottom: 1rem;
}

.info img{
    width: 5%;
    height: 5%;
    opacity: 0.8;
}

.info p{
    margin: 0;
}

.footer_info ul{
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    line-height: 2.5;
    padding: 0;
    font-size: 1rem;
    color: var(--white);
    opacity: 0.7;
    list-style: none;
}

.social{
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: var(--white);
}

.social div{
    padding: 0.2rem;
    border: solid 1px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution {
    font-size: 0.8rem;
    text-align: center;
    color: var(--white);
    padding-top: 1rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:650px) {
    header{
        background-image: url('./images/bg-curvy-desktop.svg');
    }

    nav img{
        width: 10%;
        height: 10%;
    }

    nav ul{
        width: 30%;
        font-size: 0.5rem;
    }

    .header-main{
        width: 50%;
        margin: auto;
        font-size: 0.8rem;
    }

    .header-main img{
        width: 50%;
        height: 50%;
    }

    .header-main button{
        width: 45%;
        padding: 0.5rem 1rem;
    }

    .principal{
        padding: 2rem 2rem 7rem;
    }

    .advantage{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        margin: 2rem auto;        
    }

    .advantages{
        width: 50%;
        font-size: 0.7rem;
        margin: 0;
        justify-self: center;
    }

    .advantages img{
        width: 20%;
        height: 20%;
    }

    .productive{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .productive img{
        width: 40%;
        height: 40%;
    }

    .productive div{
        width: 40%;
        font-size: 0.6rem;
    }

    hr{
        width: 35%;
    }

    .comments{
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;        
    }

    .user{
        width: 30%;
    }

    .user p{
        font-size: 0.5rem;
    }

    .early_access{
        width: 50%;
        font-size: 0.6rem;
    }

    .early_access p{
        margin-bottom: 1rem;
        font-size: 0.6rem;
    }

    input{
        display: inline;
        padding: 0.5rem 1rem;
    }

    input[type='submit']{
        width: 30%;
        font-size: 0.5rem
    }

    input[type='email']{
        width: 60%;
        font-size: 0.5rem;
        margin-right: 1rem;
    }

    input::placeholder{
        font-size: 0.4rem;
    }

    footer{
        padding: 5rem 2rem 1rem;
    }

    .logo_footer{
        width: 15%;
        height: 15%;
    }

    .footer_info{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .info{
        width: 25%;
        padding-top: 0.3rem;       
    }

    .info .map{
        width: 10%;
        height: 10%;
    }

    .info img{
        width: 50%;
        height: 50%;
    }

    .info p{
        font-size: 0.5rem;
        width: 100%;
    }

    .footer_info ul{
        font-size: 0.5rem;
        margin: 0;        
    }

    .social{
        padding-top: 0.3rem;
    }

    .social div{
        font-size: 0.5rem;
        width: 1rem;
        height: 1rem;
    }

    .attribution{
        font-size: 0.7rem;
    }

    .attribution a{
        font-weight: 600;
    }

}